.logo-container {
    display: grid;
    justify-content: center;
}

.logo{
    height: auto;
    width: 15vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(218, 218, 218, 0.2), 0 6px 20px 0 rgba(218, 218, 218, 0.2);
    justify-content: center;
}

.login-label, .login-input {
    margin-bottom: 3%;
    font-family: 'Mali', cursive;
}

.login-input {
    padding-bottom: 2%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #d3d1d1;
}

.button-container {
    position: relative;
    margin-top: 10%;
    font-family: 'Mali', cursive;
}

.default-button {
    width: 100%;
    height: 100%;
    font-family: 'Mali', cursive;
  }

@media (max-width: 768px) {
    .logo-container {
        display: grid;
        justify-content: center;
    }

    .logo{
        height: auto;
        width: 15vw;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        width: 30%;
        border: 1px;
        border-radius: 8px;
        background-color: #ffffff;
        margin-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2.5%;
        box-shadow: 0 4px 8px 0 rgba(218, 218, 218, 0.2), 0 6px 20px 0 rgba(218, 218, 218, 0.2);
        justify-content: center;
    }

    .login-label, .login-input {
        margin-bottom: 3%;
    }

    .login-input {
        padding-bottom: 2%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid #d3d1d1;
    }

    .button-container {
        position: relative;
        margin-top: 10%;
    }
}